/*--------------------------------*/
/* Portfolio CSS (made with SASS) */
/*--------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700);
.custom_scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5; }
.custom_scrollbar::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
.custom_scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555; }

.close {
  position: relative;
  top: 0;
  right: 0;
  cursor: pointer; }
  .close svg {
    width: 15px;
    height: auto; }

.gray_background {
  background-color: #e5e5e5;
  border-radius: 5px;
  padding: 0.5em; }

.shadow_box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
  .shadow_box:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.bubbles span {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0.5em 0.25em;
  background-color: #e74c3c;
  color: #FEFEFE;
  border-radius: 10px;
  font-size: 1.7vh;
  transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -webkit-transition: 0.3s ease; }
  @media (max-height: 650px) {
    .bubbles span {
      font-size: 12.75px; } }
  .bubbles span:hover, .bubbles span:active {
    background-color: #466986; }

.showing_modal {
  overflow: hidden; }

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5; } }
html {
  font-size: 80%; }
  html body {
    z-index: 1;
    font-family: "Quicksand", sans-serif;
    font-weight: 450;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-size: 2vh; }
    @media (max-height: 650px) {
      html body {
        font-size: 15px; } }

a, a:hover, a:active, a:visited, a:link {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer; }

a.text_link, span.text_link {
  cursor: pointer;
  color: #e74c3c;
  padding-left: 2px;
  padding-right: 2px; }
  a.text_link:hover, span.text_link:hover {
    background-color: #e74c3c;
    color: #EFEFEF; }

p {
  margin: 0;
  text-align: justify; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h1, h2 {
  font-weight: 300;
  font-size: 6vh; }
  @media (max-height: 650px) {
    h1, h2 {
      font-size: 45px; } }

h3 {
  font-weight: 400;
  font-size: 3vh; }
  @media (max-height: 650px) {
    h3 {
      font-size: 22.5px; } }

h4 {
  font-weight: 900;
  font-size: 2vh;
  margin: 1em 0; }
  @media (max-height: 650px) {
    h4 {
      font-size: 15px; } }

h5 {
  font-weight: 700;
  font-size: 2vh; }
  @media (max-height: 650px) {
    h5 {
      font-size: 15px; } }

table.tab_infos {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-weight: 400; }
  table.tab_infos tr td.tab_icon img {
    min-height: 15px;
    min-width: 15px;
    height: 1.5em;
    width: 1.5em; }
  table.tab_infos tr td.tab_desc {
    padding: 0.5em 0 0.5em 0.5em; }

.model-1 {
  margin-top: 2em; }
  .model-1 .left_panel {
    margin-bottom: 1em;
    padding-bottom: 1em;
    padding-top: 1em; }
    .model-1 .left_panel .img-container {
      padding: 0 1em; }
      .model-1 .left_panel .img-container img {
        height: auto;
        max-width: 200px;
        min-width: 90px;
        width: 5em; }
    .model-1 .left_panel h4 {
      margin: 1em 0; }
  .model-1 .right_panel {
    text-align: left;
    padding-bottom: 1em; }
    .model-1 .right_panel p {
      margin-top: 1em; }
      .model-1 .right_panel p:first-child {
        margin-top: 0px; }
    .model-1 .right_panel h5 {
      text-align: left;
      margin-top: 1em; }
    .model-1 .right_panel .iterator {
      margin-right: 1em; }
      .model-1 .right_panel .iterator span {
        display: inline-block;
        margin-top: 0.5em;
        margin-right: 0.5em;
        padding: 0.5em 1em;
        background-color: #e5e5e5;
        border-radius: 10px;
        font-size: 1.7vh; }
        @media (max-height: 650px) {
          .model-1 .right_panel .iterator span {
            font-size: 12.75px; } }
        .model-1 .right_panel .iterator span:hover, .model-1 .right_panel .iterator span:active {
          background-color: #d5d5d5; }

.model-2 {
  margin-top: 1em; }
  .model-2 .img-container {
    padding: 0.5em; }
    .model-2 .img-container img {
      min-height: 50px;
      height: 4em;
      width: auto; }
  .model-2 p {
    margin-top: 1em;
    text-align: center; }

.card_container .card_col .card {
  margin: 2em auto;
  border-radius: 4px;
  max-width: 570px;
  transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -webkit-transition: 0.3s ease; }
  .card_container .card_col .card img {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    width: 100%; }
  .card_container .card_col .card .text_container {
    padding: 1em;
    background-color: #FFFFFF;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px; }
    .card_container .card_col .card .text_container h4 {
      margin-top: 0; }
    .card_container .card_col .card .text_container button {
      padding: 0.5em;
      background: transparent;
      color: #27ae60;
      font-weight: 900;
      border: 1px solid #27ae60;
      border-radius: 3px;
      transition: 0.3s ease;
      -o-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -webkit-transition: 0.3s ease; }
      .card_container .card_col .card .text_container button:hover {
        color: #FEFEFE;
        background-color: #27ae60; }

.card_desc {
  display: none;
  position: fixed;
  overflow: auto;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100%;
  width: 100%;
  background-color: #EFEFEF; }
  .card_desc .card_desc_content {
    text-align: center; }
    .card_desc .card_desc_content h2 {
      margin-top: 1em;
      font-weight: 900; }
    .card_desc .card_desc_content h3 {
      font-weight: 700; }
    .card_desc .card_desc_content ul {
      margin: 0;
      padding: 0; }
    .card_desc .card_desc_content div.context {
      margin: 0.5em 0;
      font-size: 2.3vh; }
      @media (max-height: 650px) {
        .card_desc .card_desc_content div.context {
          font-size: 17.25px; } }
    .card_desc .card_desc_content div.github_link {
      margin-top: 2em; }
      .card_desc .card_desc_content div.github_link svg {
        color: #e74c3c;
        width: 4em;
        height: 4em;
        transition: 0.3s ease;
        -o-transition: 0.3s ease;
        -ms-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -webkit-transition: 0.3s ease; }
        .card_desc .card_desc_content div.github_link svg:hover {
          color: #466986; }
    .card_desc .card_desc_content div.skills_needed {
      margin-top: 1em; }
      .card_desc .card_desc_content div.skills_needed ul {
        margin-top: 1em;
        list-style-type: none; }
    .card_desc .card_desc_content div.description {
      margin-top: 4em;
      margin-bottom: 2em; }
      .card_desc .card_desc_content div.description h3 {
        margin-bottom: 1em; }
      .card_desc .card_desc_content div.description h4 {
        margin: 0.5em 0; }
      .card_desc .card_desc_content div.description ul {
        margin: 0 0 1em 0;
        list-style-type: none; }
        .card_desc .card_desc_content div.description ul li {
          padding-bottom: 0.5em; }
      .card_desc .card_desc_content div.description ul.compact_list {
        margin: 0 auto 1em auto;
        width: 80%;
        list-style-type: inherit;
        text-align: left; }
      .card_desc .card_desc_content div.description p {
        margin: 0 0 1em 0;
        text-align: center; }
    .card_desc .card_desc_content div.trailer {
      margin-top: 4em; }
      .card_desc .card_desc_content div.trailer iframe {
        margin-top: 2em;
        width: 100vh;
        height: 60vh;
        max-width: 100%; }
    .card_desc .card_desc_content div.documents {
      margin-top: 2em; }
      .card_desc .card_desc_content div.documents h3 {
        margin-bottom: 1em; }
    .card_desc .card_desc_content div.pictures {
      margin-top: 2em;
      margin-bottom: 4em; }
      .card_desc .card_desc_content div.pictures h3 {
        margin-bottom: 1em; }
      .card_desc .card_desc_content div.pictures div img {
        width: 100%;
        padding: 0.5em;
        max-width: 500px; }
  .card_desc .card_desc_close {
    position: fixed;
    top: 0;
    right: 0;
    margin: 2em 4em 0 0; }
    @media (max-width: 767px) {
      .card_desc .card_desc_close {
        margin: 2em 2em 0 0; } }
    .card_desc .card_desc_close svg {
      color: #e74c3c;
      width: 2em;
      height: 2em;
      transition: 0.3s ease;
      -o-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -webkit-transition: 0.3s ease; }
      .card_desc .card_desc_close svg:hover {
        color: #466986; }

#loading_screen {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background-color: #000000;
  font-weight: 300;
  text-align: center; }
  #loading_screen span {
    vertical-align: middle;
    line-height: 100vh;
    display: inline-block;
    animation: pulse 0.4s alternate infinite ease-in-out;
    color: #FEFEFE;
    font-size: 900;
    font-size: 12vh; }
    @media (max-height: 650px) {
      #loading_screen span {
        font-size: 90px; } }
    #loading_screen span:nth-child(odd) {
      animation-delay: 0.4s; }

nav {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: 400;
  color: #FEFEFE;
  background-color: #14100E;
  text-align: center;
  padding: 0.5em 1em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  nav #nav_wrap {
    display: none; }
    nav #nav_wrap svg {
      width: 2em;
      height: 2em; }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    nav ul li {
      display: inline-block;
      cursor: pointer;
      padding: 0.5em 1em;
      border-radius: 3px;
      transition: 0.3s ease;
      -o-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -webkit-transition: 0.3s ease; }
      nav ul li:hover, nav ul li:active {
        background-color: #e74c3c;
        cursor: pointer; }
  nav #languages {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 3em;
    margin-right: 2em; }
    nav #languages img.lang {
      width: 1.75em;
      height: 1.75em;
      margin-right: 1em; }

.lang:hover {
  cursor: pointer; }

header {
  background-image: url("../images/backgrounds/mountain.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
  min-height: 100vh;
  padding: 2em;
  color: #FEFEFE;
  font-weight: 400; }
  header #name {
    margin-top: 8em;
    text-align: center;
    padding: 1em 2em 2em 2em;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px; }
    @media (max-width: 767px) {
      header #name {
        margin-top: 3em; } }
    @media (min-width: 768px) and (max-width: 991px) {
      header #name {
        margin-top: 5em; } }
    header #name div#looking_for {
      padding: 0 1em;
      margin-top: 1em;
      font-size: 3vh; }
      @media (max-height: 650px) {
        header #name div#looking_for {
          font-size: 22.5px; } }
    header #name div#status {
      padding: 0 1em;
      margin-top: 0.5em; }
    header #name #contact {
      text-align: center;
      padding: 0 1em 0.5em 1em; }
      header #name #contact a {
        transition: 0.3s ease;
        -o-transition: 0.3s ease;
        -ms-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        padding-left: 0.5em;
        padding-right: 0.5em; }
        header #name #contact a:hover, header #name #contact a:active {
          color: #e74c3c;
          cursor: pointer; }
        header #name #contact a svg {
          width: 2em;
          height: 2em; }
    header #name #email {
      font-weight: 300;
      padding-top: 0.5em;
      padding-bottom: 1em; }
  header #CV {
    margin-top: 5em;
    text-align: center; }
    @media (max-width: 767px) {
      header #CV {
        margin-top: 2em; } }
    @media (min-width: 768px) and (max-width: 991px) {
      header #CV {
        margin-top: 3em; } }
    header #CV a {
      width: 6em;
      height: 6em;
      border-radius: 50%;
      display: inline-block;
      background-color: #14100E;
      color: #FEFEFE;
      border: 1px solid #FEFEFE;
      font-weight: 450;
      line-height: 6em;
      cursor: pointer;
      transition: 0.5s ease;
      -o-transition: 0.5s ease;
      -ms-transition: 0.5s ease;
      -moz-transition: 0.5s ease;
      -webkit-transition: 0.5s ease; }
      header #CV a:hover, header #CV a:active {
        background-color: #e74c3c; }

section {
  text-align: center;
  min-height: 100vh;
  padding: 4em 2em;
  color: #FEFEFE;
  background-color: #EFEFEF;
  color: #555555; }

section#about #presentation p {
  margin-top: 2em;
  font-size: 2.3vh; }
  @media (max-height: 650px) {
    section#about #presentation p {
      font-size: 17.25px; } }
section#about #open_minded {
  margin-top: 2em; }
  section#about #open_minded img {
    min-height: 50px;
    height: 5em;
    width: auto; }
  section#about #open_minded p {
    margin-top: 1em;
    font-size: 2.3vh; }
    @media (max-height: 650px) {
      section#about #open_minded p {
        font-size: 17.25px; } }
section#about #preferences {
  margin-top: 2em; }
section#about table.tab_infos {
  font-weight: 450; }

section#studies {
  padding-bottom: 0px; }
  section#studies h3 {
    font-weight: 300; }

section#certifications {
  min-height: inherit; }
  section#certifications h2 {
    margin-bottom: 1em; }

section#work_experiences #exp_coveo .left_panel {
  padding-bottom: 3em; }
section#work_experiences #exp_sal .left_panel {
  padding-bottom: 2em; }

section#skills h2 {
  margin-bottom: 0.5em; }
section#skills .skill {
  padding-bottom: 1em; }
  section#skills .skill h3 {
    margin-bottom: 0.5em; }

section#hobbies .hobbies_container {
  margin-top: 4em; }
  section#hobbies .hobbies_container .hobby {
    margin-bottom: 1em; }
    section#hobbies .hobbies_container .hobby img {
      width: 3em;
      height: 3em; }
    section#hobbies .hobbies_container .hobby div.hobby_text {
      padding: 1em 0; }

section#videos h2 {
  margin-bottom: 1em; }
section#videos .yt_video_container .yt_video {
  margin-bottom: 2em; }
  section#videos .yt_video_container .yt_video .shadow_box iframe {
    width: 100%;
    height: 100%; }

footer {
  color: #FEFEFE;
  text-align: center;
  font-weight: 400; }
  footer #copyright {
    padding: 1.5em;
    background-color: #1a1a1a;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 1.4vh; }
    @media (max-height: 650px) {
      footer #copyright {
        font-size: 10.5px; } }

/*# sourceMappingURL=portfolio.css.map */
