/*-------*/
/* FONTS */
/*-------*/
/*@font-face {
    font-family: "FONT";
    src: url('../fonts/');
}*/


/*-------*/
/* CLASS */
/*-------*/

.blue_text_color{
    color: #22A7F0;
}

.orange_text_color{
    color: #F89406;
}

.bottom_arrow{
    text-align: center;
    margin-top: 30px;
    display: hidden;
}


/*------------*/
/*  HTML BODY */
/*------------*/
html, body {
  height: 100%;
  overflow-x: hidden;
}

body{
  font-family: 'Quicksand', sans-serif;
  margin : 0;
  padding: 0;
  font-size: 1em;
}


/*--------*/
/* HEADER */
/*--------*/

header{
  background-image: url("../images/backgrounds/blurred.jpg");
  background-size: cover;
  min-height: 100vh;
  /*background-color: #1C1C1C;*/
  padding: 50px;
}

#profil_picture{
    text-align: center;
}

#profil_picture img{
  border-radius: 50%;
  width: auto;
  max-width: 200px;
  margin-bottom: 30px;
}

#name{
  font-size: 4em;
  color: #FEFEFE;
  border-bottom: 2px solid #FEFEFE;
  border-top: 2px solid #FEFEFE;
  text-align: center;
}

#intro_desc{
  margin-top: 20px;
  color: #FEFEFE;
  font-size: 1.3em;
  min-height: 100px;
}

#cv{
  text-align: center;
  margin-top: 50px;
}

#cv a{
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
    
    display: inline-block;

  color: #E4F1FE;
  text-decoration: none;

  background-color: #14100E;
  padding: 20px;
  border-radius: 4px;
  font-weight: bold;
}

#cv a:hover{
  color: #FFFFFF;
  background-color: #ED6362;

}

/*--------------*/
/* CONTENT AREA */
/*--------------*/
section{
}

/*--------*/
/* FOOTER */
/*--------*/

footer{
  background-color : #0B0C11;
  color : #64FCF3;
  text-align: center;
}

/*--------*/
/* TITLES */
/*--------*/

/*---------*/
/* BUTTONS */
/*---------*/

/*------*/
/* FORM */
/*------*/
