@import "responsive_mq";

//------------------------------------------------
// Manage font-size property (responsive purpose)
//------------------------------------------------
@mixin customFontSize($font-size, $min-font-size) {
    
    font-size: $font-size;
    
    @include minHeightDevice {
        font-size: $min-font-size;
    }
    
}

@mixin timeTransition($time){
    transition:         $time ease;
    -o-transition:      $time ease;
    -ms-transition:     $time ease;
    -moz-transition:    $time ease;
    -webkit-transition: $time ease;
}