/*--------------------------------*/
/* Portfolio CSS (made with SASS) */
/*--------------------------------*/

//------------
//Google Fonts
//------------
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700);

//------------
// Imports
//------------

@import "mixins";

//------------
// Variables
//------------

//Fonts
$Quicksand          : 'Quicksand', sans-serif;
$Quicksand-Light    : 300;
$Quicksand-Normal   : 400;
$Quicksand-SemiBold : 500;
$Quicksand-Bold     : 700;

//font-size
$font-size-Normal    : 2vh;
$font-size-Small     : $font-size-Normal * 0.7;
$font-size-Small2    : $font-size-Normal * 0.85;
$font-size-Medium    : $font-size-Normal * 1.5;
$font-size-Big       : $font-size-Normal * 3;

$min-font-size-Normal : 15px;
$min-font-size-Small  : $min-font-size-Normal * 0.7;
$min-font-size-Small2 : $min-font-size-Normal * 0.85;
$min-font-size-Medium : $min-font-size-Normal * 1.5;
$min-font-size-Big    : $min-font-size-Normal * 3;

//Colors
$color-Black           : #14100E;
$color-Black2          : #1a1a1a;
$color-Gray            : #555555;
$color-BlueGray        : #2c3e50;
$color-SmoothGray      : #EEEEEE;
$color-SmoothGray2     : #EFEFEF;
$color-SmoothGray3     : #e5e5e5;
$color-White           : #FFFFFF;
$color-SmoothWhite     : #FEFEFE;
$color-WhiteLittleBlue : #E4F1FE;

$color-DarkBlue    : #213247;
$color-BrightBlue  : #466986;
$color-Orange      : #F67D33;
$color-LightRed    : #e74c3c;

//Marging & padding
$margin-Basic : 2em;
$padding-Basic : 2em;

//------------
// Class
//------------

.custom_scrollbar{
    
    &::-webkit-scrollbar-track{
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar{
        width: 12px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
    }
}

.blink{
    animation: blink 3s linear infinite;
    opacity: 0;
}

.close {
    position: relative;
    top: 0;
    right: 0;
    cursor: pointer;
    
    svg{
        width: 15px;
        height: auto;
    }
}

//------------
// KeyFrames
//------------

@keyframes blink {  
  50% { opacity: 1; }
  20% { opacity: 0; }
}

//---------------
// Global content
//---------------

html{
    
    font-size: 80%;
    overflow-x: hidden;
    
    body{
        
        overflow-x: hidden;

        font-family: $Quicksand;
        font-weight: $Quicksand-Normal;

        margin : 0;
        padding: 0;
        
        @include customFontSize($font-size-Normal, $min-font-size-Normal);
    }
}


#build_msg{
    
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.95);
    
    color: $color-SmoothWhite;
    padding: $padding-Basic*7 $padding-Basic;

    text-align: center;
    @include customFontSize($font-size-Normal*1.2, $min-font-size-Normal*1.2);
    
    div.blink{
        margin-top: $margin-Basic/2;
    }
}

a, a:hover, a:active, a:visited, a:link{
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
}

a.text_link, span.text_link{
    
    cursor: pointer;
    color : $color-LightRed;
    padding-left: 2px;
    padding-right: 2px;
    
    &:hover{
        background-color: $color-LightRed;
        color: $color-SmoothGray2;
    }     
}

p{
    margin: 0;
    text-align: justify;
}

//---------------
// Titles
//---------------

h1, h2, h3, h4, h5, h6{
    
    margin: 0;
    font-weight: $Quicksand-Light;
}

h1, h2{
    
    @include customFontSize($font-size-Big, $min-font-size-Big);
}

h3{
    
    @include customFontSize($font-size-Medium, $min-font-size-Medium);
}

h4{
    font-weight: $Quicksand-Bold;
    @include customFontSize($font-size-Normal, $min-font-size-Normal);
    margin: $margin-Basic/2 0;
}

h5{
    font-weight: $Quicksand-SemiBold;
    @include customFontSize($font-size-Normal, $min-font-size-Normal);
}

//---------------
// MODELS
//---------------

table.tab_infos{
    margin-left: auto;
    margin-right: auto;
    text-align: left;

    tr{

        td.tab_icon{
            img{
                min-height: 15px;
                min-width: 15px;
                height: 2vh;
                width: 2vh;
            }
        }

        td.tab_desc{
            padding: $padding-Basic/8 0 $padding-Basic/8 $padding-Basic/4;
        }
    }
}


.model-1{

    margin-top: $margin-Basic;

    .left_panel{
        margin-bottom: $margin-Basic/2;
        padding-bottom: $padding-Basic/2;
        padding-top: $padding-Basic/2;
        background-color: $color-SmoothGray3;
        border-radius: 5px;

        .img-container{

            padding: 0 $padding-Basic/2;

            img{
                height: auto;
                max-width: 200px;
                min-width: 90px;
                width: 10vh;
            }

        }
        
        h4{
            margin: $margin-Basic/2 0;
        }
    }

    .right_panel{
        text-align: left;
        padding-bottom: $padding-Basic/2;

        p{
            margin-top: $margin-Basic/2;

            &:first-child{
                margin-top: 0px;
            }
        }

        h5{
            text-align: left;
            margin-top: $margin-Basic/2;
        }

        .iterator{
            margin-right: $margin-Basic/2;

            span{
                margin-right: $margin-Basic/2;
                @include customFontSize($font-size-Small2, $min-font-size-Small2);
            }
        }

    }
} 

.model-2{
    margin-top: $margin-Basic/2;

    .img-container{
        padding: $padding-Basic/2;

        img{
            min-height: 50px;
            height: 10vh;
            width: auto;
        }
    }

    p{
        margin-top: $margin-Basic/4;
        text-align: center;
    }
}

//---------------
// Nav
//---------------

nav {
    position:fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    
    color: $color-SmoothWhite;
    background-color: $color-Black;
    text-align: center;
    padding: $padding-Basic/4 $padding-Basic/2;
    
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    
    #nav_wrap{
        display: none;
        
        svg{
            width: 4vh;
            height: 4vh;
        }
    }
    
    ul{
        list-style-type: none;
        
        margin: 0;
        padding: 0;
        
        li{
            display: inline-block;
            cursor: pointer;
            padding: $padding-Basic/4 $padding-Basic/2;

            border: 1px solid $color-Black;
            border-radius: 3px;
            transition: border 0.5s ease;
            
            &:hover, &:active{
                border: 1px solid $color-SmoothWhite;
                cursor: pointer;
            }
        }
    }
 }

//---------------
// Header
//---------------

header{
    
    background-image: url("../images/backgrounds/console.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    min-height: 100vh;
    padding: $padding-Basic;
    color: $color-SmoothWhite;
    
    #name{
        
        margin-top: $margin-Basic * 1.5;
    
        color : $color-SmoothWhite;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        
        div{
            padding: $margin-Basic/3 $margin-Basic/2 0 $margin-Basic/2;
            
            &#status{
                border-top: 1px solid $color-SmoothWhite;
                @include customFontSize($font-size-Medium, $min-font-size-Medium);
            }
        }
    }
    
    #intro_desc{
        margin-top: $margin-Basic ;
        height: 42vh;
        min-height: 150px;
        
        background-color: $color-SmoothWhite;
        border-radius: 2px;
        padding: $margin-Basic/2 $margin-Basic $margin-Basic/2 $margin-Basic;
        
        color : $color-BlueGray;
        
        #read_chat{
            height: 80%;
            overflow-x: hidden;
            overflow-y: auto;
            padding-top: $margin-Basic/2;
            padding-bottom: $margin-Basic/2;
            margin-bottom: $margin-Basic/4;
            
            & div.row {
                
                margin-bottom: $margin-Basic/2;
                display: none;
                
                .picture_chat{
                    
                    text-align: center;
                    
                    img{
                        
                        border-radius: 50%;
                        height: 3rem;
                        max-height: 50px;
                        width: auto;
                    }
                    
                }
                
                
                .msg_chat{
                    
                    padding: $padding-Basic/3;
                    border-radius: 5px;
                }
                
                &.me .msg_chat{
                    background-color: $color-SmoothGray;
                    color: $color-Black;
                }
                
                &.visitor .msg_chat{
                    background-color: $color-BrightBlue;
                    color: $color-SmoothWhite;
                }
                
                
            }

        }
        
        #write_chat{
            min-height: 20%;
            
            #input_chat{
                
                border-bottom: 1px solid $color-Black;
               
                div#fakeInput{
                    

                    display: inline-block;
                    padding: 3px;
                    width: 80%;
                    border: none;
                    background-color: transparent;
                    
                }
                
                img{
                    width: 1.5rem;
                    float: right;
                }
                
            }
            
            #send_chat{
                
                text-align: center;
                
                button{
                    background-color: $color-Black;
                    border: none;
                    color: $color-White;
                    padding: $padding-Basic/4 $padding-Basic/2 $padding-Basic/4 $padding-Basic/2;
                    
                }
            }

        }
        
    }
    
    #CV{
        
        margin-top: $margin-Basic *1.5; 
        text-align: center;

        a{
            
            
            width: 12vh;
            height: 12vh;
            border-radius: 50%;
            line-height: 12vh;
            
            display: inline-block;
            text-decoration: none;

            background-color: $color-Black;
            color: $color-SmoothWhite;
            font-weight: $Quicksand-Normal;
            border: 1px solid $color-SmoothWhite;

            transition: background-color 0.5s ease;

            &:hover, &:active{
                background-color: $color-BrightBlue;
            }
        }
    }
    
}

//---------------
// Sections
//---------------
section{
    
    text-align: center;
    min-height: 100vh;
    padding: $padding-Basic * 2 $padding-Basic;
    color: $color-SmoothWhite; 
    background-color : $color-SmoothGray2;
    color: $color-Gray;
    
}

//------------------------------------
// Section : Studies
//------------------------------------

section#studies{
    padding-bottom: 0px;
    min-height: inherit;
}

//------------------------------------
// Section : Certifications
//------------------------------------

section#certifications{
    min-height: inherit;
}


//------------------------------------
// Section : Experiences
//------------------------------------

section#experiences{
}

//---------------
// Footer
//---------------

footer{
    
    color : $color-SmoothWhite;  
    text-align: center;
    
     #contact {
        background-color : $color-Black;
        padding: $padding-Basic/4;
        margin-left: 0px;
        margin-right: 0px;
         
         & div {
             padding: $padding-Basic/4;
             
             svg{
                width: 4vh;
                height: 4vh;
                 
                 &:nth-child(1){
                     margin-left: $margin-Basic/2;
                 }
             }
              
             #email{
                 @include customFontSize($font-size-Medium, $min-font-size-Medium);
             }
             
             a{
                 transition: color 0.25s ease;
             
                 &:hover, &:active{
                    color: $color-Orange;
                    cursor: pointer;
                }
             }
         }
    }

    #copyright{
        padding: $padding-Basic *3/4;
        background-color : $color-Black2;
        margin-left: 0px;
        margin-right: 0px;
        @include customFontSize($font-size-Small, $min-font-size-Small);
    }
    
}

