/*--------------------------------*/
/* Portfolio CSS (made with SASS) */
/*--------------------------------*/

//------------
//Google Fonts
//------------
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700);

//------------
// Imports
//------------

@import "mixins";

//------------
// Variables
//------------

//Fonts
$Quicksand          : 'Quicksand', sans-serif;
$Quicksand-Light    : 300;
$Quicksand-Normal   : 400;
$Quicksand-SemiBold : 500;
$Quicksand-Bold     : 700;

//font-size
$font-size-Normal    : 2vh;
$font-size-Small     : $font-size-Normal * 0.7;
$font-size-Small2    : $font-size-Normal * 0.85;
$font-size-Medium    : $font-size-Normal * 1.5;
$font-size-Medium2   : $font-size-Normal * 1.15;
$font-size-Big       : $font-size-Normal * 3;
$font-size-Huge      : $font-size-Normal * 6;

$min-font-size-Normal  : 15px;
$min-font-size-Small   : $min-font-size-Normal * 0.7;
$min-font-size-Small2  : $min-font-size-Normal * 0.85;
$min-font-size-Medium  : $min-font-size-Normal * 1.5;
$min-font-size-Medium2 : $min-font-size-Normal * 1.15;
$min-font-size-Big     : $min-font-size-Normal * 3;
$min-font-size-Huge    : $min-font-size-Normal * 6;

//Colors
$color-Black           : #14100E;
$color-Black2          : #1a1a1a;
$color-Gray            : #555555;
$color-BlueGray        : #2c3e50;
$color-SmoothGray      : #EEEEEE;
$color-SmoothGray2     : #EFEFEF;
$color-SmoothGray3     : #e5e5e5;
$color-White           : #FFFFFF;
$color-SmoothWhite     : #FEFEFE;
$color-WhiteLittleBlue : #E4F1FE;

$color-DarkBlue    : #213247;
$color-BrightBlue  : #466986;
$color-Orange      : #F67D33;
$color-LightRed    : #e74c3c;
$color-Green       : #27ae60;

//Marging & padding
$margin-Basic : 2em;
$padding-Basic : 2em;

//------------
// Class
//------------

.custom_scrollbar{
    
    &::-webkit-scrollbar-track{
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar{
        width: 12px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
    }
}

.blink{
    animation: blink 3s linear infinite;
    opacity: 0;
}

.close {
    position: relative;
    top: 0;
    right: 0;
    cursor: pointer;
    
    svg{
        width: 15px;
        height: auto;
    }
}

.rounded_btn{
    width: 6em;
    height: 6em;
    border-radius: 50%;

    display: inline-block;

    background-color: $color-Black;
    color: $color-SmoothWhite;
    border: 1px solid $color-SmoothWhite;

    @include timeTransition(0.5s);

    &:hover, &:active{
        background-color: $color-LightRed;
    }

    span{
        font-weight: $Quicksand-Normal;
        line-height: 6em;
    }
}

.gray_background{
    background-color: $color-SmoothGray3;
    border-radius: 5px;
    padding: $padding-Basic/4;
}

.shadow_box{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
    &:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }  
}

.bubbles{
    
    span{
        display: inline-block;
        padding: $padding-Basic/4 $padding-Basic/2;
        margin: $margin-Basic/4 $margin-Basic/8;
        background-color: $color-LightRed;
        color: $color-SmoothWhite;
        border-radius: 10px;
        @include customFontSize($font-size-Small2, $min-font-size-Small2);
        
        @include timeTransition(0.3s);

        &:hover, &:active{
            background-color: $color-BrightBlue;
        }
        
    }
}

.showing_modal{
    overflow: hidden;
}

//------------
// KeyFrames
//------------

@keyframes blink {  
  50% { opacity: 1; }
  20% { opacity: 0; }
}

//---------------
// Global content
//---------------

html{
    font-size: 80%;
    
    body{
        z-index: 1;
        font-family: $Quicksand;
        font-weight: $Quicksand-Normal;
        overflow-x: hidden;

        margin : 0;
        padding: 0;
        
        @include customFontSize($font-size-Normal, $min-font-size-Normal);
    }
}


/*#build_msg{
    
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 4;
    background-color: rgba(0,0,0,0.95);
    
    color: $color-SmoothWhite;
    padding: $padding-Basic*7 $padding-Basic;

    text-align: center;
    @include customFontSize($font-size-Normal*1.2, $min-font-size-Normal*1.2);
    
    div.blink{
        margin-top: $margin-Basic/2;
    }
}*/

a, a:hover, a:active, a:visited, a:link{
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
}

a.text_link, span.text_link{
    
    cursor: pointer;
    color : $color-LightRed;
    padding-left: 2px;
    padding-right: 2px;
    
    &:hover{
        background-color: $color-LightRed;
        color: $color-SmoothGray2;
    }     
}

p{
    margin: 0;
    text-align: justify;
}

//---------------
// Titles
//---------------

h1, h2, h3, h4, h5, h6{
    
    margin: 0;
    font-weight: $Quicksand-Light;
}

h1, h2{
    
    @include customFontSize($font-size-Big, $min-font-size-Big);
}

h3{
    
    @include customFontSize($font-size-Medium, $min-font-size-Medium);
}

h4{
    font-weight: $Quicksand-Bold;
    @include customFontSize($font-size-Normal, $min-font-size-Normal);
    margin: $margin-Basic/2 0;
}

h5{
    font-weight: $Quicksand-SemiBold;
    @include customFontSize($font-size-Normal, $min-font-size-Normal);
}

//---------------
// MODELS
//---------------

table.tab_infos{
    margin-top: $margin-Basic/4;
    margin-bottom: $margin-Basic/4;
    margin-left: auto;
    margin-right: auto;
    text-align: left;

    tr{

        td.tab_icon{
            img{
                min-height: 15px;
                min-width: 15px;
                height: 1.5em;
                width: 1.5em;
            }
        }

        td.tab_desc{
            padding: $padding-Basic/4 0 $padding-Basic/4 $padding-Basic/4;
        }
    }
}


.model-1{

    margin-top: $margin-Basic;

    .left_panel{
        margin-bottom: $margin-Basic/2;
        padding-bottom: $padding-Basic/2;
        padding-top: $padding-Basic/2;

        .img-container{

            padding: 0 $padding-Basic/2;

            img{
                height: auto;
                max-width: 200px;
                min-width: 90px;
                width: 5em;
            }

        }
        
        h4{
            margin: $margin-Basic/2 0;
        }
    }

    .right_panel{
        text-align: left;
        padding-bottom: $padding-Basic/2;

        p{
            margin-top: $margin-Basic/2;

            &:first-child{
                margin-top: 0px;
            }
        }

        h5{
            text-align: left;
            margin-top: $margin-Basic/2;
        }

        .iterator{
            margin-right: $margin-Basic/2;

            span{
                margin-right: $margin-Basic/2;
                @include customFontSize($font-size-Small2, $min-font-size-Small2);
            }
        }

    }
} 

.model-2{
    margin-top: $margin-Basic/2;

    .img-container{
        padding: $padding-Basic/4;

        img{
            min-height: 50px;
            height: 4em;
            width: auto;
        }
    }

    p{
        margin-top: $margin-Basic/2;
        text-align: center;
    }
}

.card_container{
    
    .card_col{
        
        .card{
            margin: $margin-Basic auto;
            border-radius: 4px;
            max-width: 570px;
            @include timeTransition(0.3s);

            img{
                border-top-right-radius: 4px;
                border-top-left-radius: 4px;
                width: 100%;
            }

            .text_container{
                padding: $padding-Basic/2;
                background-color: $color-White;
                border-bottom-right-radius: 4px;
                border-bottom-left-radius: 4px;

                h4{
                   margin-top: 0; 
                }

                button{
                    padding: $padding-Basic/4;
                    background: transparent;
                    color : $color-Green;
                    font-weight: $Quicksand-Bold;
                    border: 1px solid $color-Green;
                    border-radius: 3px;

                    @include timeTransition(0.3s);

                    &:hover{
                        color : $color-SmoothWhite;
                        background-color: $color-Green;
                    }

                }
            }
        }
        
    }
}

.card_desc{
    display: none;
    position:fixed;
    overflow: auto;
    z-index: 3;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
    width: 100%;
    background-color : $color-SmoothGray2;

    .card_desc_content{
        text-align: center;
        
        h2{
            margin-top: $margin-Basic/2;
            font-weight: $Quicksand-Bold;
        }
        
        h3{
            font-weight: $Quicksand-SemiBold;
        }
        
        ul{
            margin: 0;
            padding: 0;
        }
        
        div.context{
            margin: $margin-Basic/4 0;
            @include customFontSize($font-size-Medium2, $min-font-size-Medium2);
        }
        
        
        
        div.github_link{
            margin-top: $margin-Basic;
            
            svg{
                color: $color-LightRed;
                width: 4em;
                height: 4em;
                @include timeTransition(0.3s);
            
                &:hover{
                    color: $color-BrightBlue;
                }
            }
        }
        
        div.skills_needed{
            margin-top: $margin-Basic/2;
            
            ul{
                margin-top: $margin-Basic/2;
                list-style-type: none; 
            }
        }
        
        div.description{
            margin-top: $margin-Basic*2;
            margin-bottom: $margin-Basic;
            
            h3{
                margin-bottom: $margin-Basic/2;
            }
            
            h4{
                margin: $margin-Basic/4 0;
            }
            
            ul{
                margin: 0 0 $margin-Basic/2 0;
                list-style-type: none;
                
                li{
                    padding-bottom: $padding-Basic/4;
                }
            }
            
            ul.compact_list{
                margin: 0 auto $margin-Basic/2 auto;
                width: 80%;
                list-style-type: inherit;
                text-align: left;
            }
            
            p{
                margin: 0 0 $margin-Basic/2 0;
                text-align: center;
            }
        }
        
        div.documents{
            margin-top: $margin-Basic;
            
            h3{
                margin-bottom: $margin-Basic/2;
            }
        }
        
        div.pictures{
            margin-top: $margin-Basic;
            margin-bottom: $margin-Basic*2;
            
            h3{
                margin-bottom: $margin-Basic/2;
            }
            
            div img{
                width: 100%;
                padding: $padding-Basic/4;
                max-width: 500px;
            }
        }

    }

    .card_desc_close{
        position: fixed;
        top: 0;
        right: 0;
        margin: $margin-Basic $margin-Basic*2 0 0;
        @include phone {
            margin: $margin-Basic $margin-Basic 0 0;
        }   
        
        svg{
            color : $color-LightRed;
            width: 2em;
            height: 2em;
            @include timeTransition(0.3s);
            
            &:hover{
                color: $color-BrightBlue;
            }
        }
    }
}

//---------------
// Loading Screen
//---------------

#loading_screen{
    position:fixed;
    z-index: 5;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background-color: #000000;
    
    text-align: center;

    span {
        
        vertical-align: middle;
        line-height: 100vh;
        
        display: inline-block;
        animation: pulse 0.4s alternate infinite ease-in-out;
        color: $color-SmoothWhite;
        font-size: $Quicksand-Bold;
        @include customFontSize($font-size-Huge, $min-font-size-Huge);
        
        &:nth-child(odd) {
            animation-delay: 0.4s;
        }  
    }
         
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

//---------------
// Nav
//---------------

nav {
    position:fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    
    color: $color-SmoothWhite;
    background-color: $color-Black;
    text-align: center;
    padding: $padding-Basic/4 $padding-Basic/2;
    
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    
    #nav_wrap{
        display: none;
        
        svg{
            width: 2em;
            height: 2em;
        }
    }
    
    ul{
        list-style-type: none;
        
        margin: 0;
        padding: 0;
        
        li{
            display: inline-block;
            cursor: pointer;
            padding: $padding-Basic/4 $padding-Basic/2;

            border-radius: 3px;
            @include timeTransition(0.3s);
            
            &:hover, &:active{
                background-color: $color-LightRed;
                cursor: pointer;
            }
        }
    }
 }

//---------------
// Header
//---------------

header{
    
    background-image: url("../images/backgrounds/console.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    min-height: 100vh;
    padding: $padding-Basic;
    color: $color-SmoothWhite;
    
    #name{
        
        margin-top: $margin-Basic * 4;
        @include phone {
            margin-top: $margin-Basic * 1.5; 
        }
        @include tablet {
            margin-top: $margin-Basic * 2.5; 
        }
        
        text-align: center;
        padding: $padding-Basic/2 $padding-Basic $padding-Basic $padding-Basic;
        background: rgba(0,0,0,0.9);
        border-radius: 10px;
        
        div#looking_for{
            padding: 0 $padding-Basic/2;
            margin-top: $margin-Basic/2;
            @include customFontSize($font-size-Medium, $min-font-size-Medium);
        }
        div#status{
            padding: 0 $padding-Basic/2;
            margin-top: $margin-Basic/4;
        }
        
        #contact{
            text-align: center;
            padding: 0 $padding-Basic/2 $padding-Basic/4 $padding-Basic/2;

            a{                
                @include timeTransition(0.3s);
                padding-left: $padding-Basic/4;
                padding-right: $padding-Basic/4;

                &:hover, &:active{
                    color: $color-LightRed;
                    cursor: pointer;
                }

                svg{
                    width: 2em;
                    height: 2em;
                }
            }
        }
        
        #email{
            padding-top: $padding-Basic/4;
            padding-bottom: $padding-Basic/2;
        }
    }
        
    #CV{     
        margin-top: $margin-Basic * 2.5;
        text-align: center;
        
        @include phone {
            margin-top: $margin-Basic; 
        }
        @include tablet {
            margin-top: $margin-Basic*1.5; 
        }
    }
    
}

//---------------
// Sections
//---------------
section{
    
    text-align: center;
    min-height: 100vh;
    padding: $padding-Basic * 2 $padding-Basic;
    color: $color-SmoothWhite; 
    background-color : $color-SmoothGray2;
    color: $color-Gray;
    
}

//------------------------------------
// Section : About
//------------------------------------

section#about{
    
    #presentation{
        p{
            margin-top: $margin-Basic;
            @include customFontSize($font-size-Medium2, $min-font-size-Medium2);
        }
    }
    
    #open_minded{
        margin-top: $margin-Basic;
        
        img{
            min-height: 50px;
            height: 5em;
            width: auto;
        }  
        
        p{
            margin-top: $margin-Basic/2;
            @include customFontSize($font-size-Medium2, $min-font-size-Medium2);
        }
    }
    
    #preferences{
        margin-top: $margin-Basic;
    }
    
}

//------------------------------------
// Section : Studies
//------------------------------------

section#studies{
    padding-bottom: 0px;
}

//------------------------------------
// Section : Certifications
//------------------------------------

section#certifications{
    min-height: inherit;
    
    h2{
        margin-bottom: $margin-Basic/2;
    }
}


//------------------------------------
// Section : Experiences
//------------------------------------

section#experiences{
}

//------------------------------------
// Section : Skills
//------------------------------------

section#skills{
    
    h2{
        margin-bottom: $margin-Basic/4;
    }
    
    .skill{
        
        padding-bottom: $padding-Basic/2;
        
        h3{
            margin-bottom: $margin-Basic/4;
        }
    }
}

//------------------------------------
// Section : Projects
//------------------------------------

section#projects{
    
}

//------------------------------------
// Section : Hobbies
//------------------------------------

section#hobbies{
    
    .hobbies_container{
        margin-top: $margin-Basic*2;
        
        .hobby{
            margin-bottom: $margin-Basic/2;
            
            img{
                width: 3em;
                height: 3em;
            }
            
            div.hobby_text{
                padding: $padding-Basic/2 0;
            }
        }
    }
    
}

//------------------------------------
// Section : Videos
//------------------------------------

section#videos{
    
    h2{
        margin-bottom: $margin-Basic/2;
    }
    
    .yt_video_container{
        
        .yt_video{
            margin-bottom: $margin-Basic;
            
            .shadow_box{
                
                iframe{
                    width: 100%;
                    height: 100%;//56,25%;
                }
            }
        }
    }
    
}

//---------------
// Footer
//---------------

footer{
    
    color : $color-SmoothWhite;  
    text-align: center;

    #copyright{
        padding: $padding-Basic *3/4;
        background-color : $color-Black2;
        margin-left: 0px;
        margin-right: 0px;
        @include customFontSize($font-size-Small, $min-font-size-Small);
    }
    
}
