/*--------------------------------*/
/* Portfolio CSS (made with SASS) */
/*--------------------------------*/

//------------
//Google Fonts
//------------
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700);

//------------
// Imports
//------------

@import "mixins";

//------------
// Variables
//------------

//Fonts
$Quicksand        : 'Quicksand', sans-serif;
$Quicksand-Light  : 300;
$Quicksand-Normal : 400;

//font-size
$font-size-Normal    : 2vh;
$font-size-Medium    : $font-size-Normal * 1.5;
$font-size-Big       : $font-size-Normal * 3;

$min-font-size-Normal : 15px;
$min-font-size-Medium : $min-font-size-Normal * 1.5;
$min-font-size-Big    : $min-font-size-Normal * 3;

//Colors
$color-Black           : #14100E;
$color-BlueGray        : #2c3e50;
$color-White           : #FFFFFF;
$color-SmoothWhite     : #FEFEFE;
$color-WhiteLittleGray : #FBFBFB;
$color-WhiteLittleBlue : #E4F1FE;

$color-BrightBlue  : #22A7F0;
$color-Orange      : #F28F21;
$color-DarkPink    : #ED6362;

//Transparent colors
$transparentColor-White : rgba(255, 255, 255, 0.9);

//Marging & padding
$margin-Basic : 2rem;
$padding-Basic : 2rem;

//------------
// Class
//------------

.blue_text_color{
    color: $color-BrightBlue;
}

.orange_text_color{
    color: $color-Orange;
}

//------------
// KeyFrames
//------------

@keyframes blink {  
  50% { opacity: 0; }
  20% { opacity: 1; }
}

//---------------
// Global content
//---------------

html{
    
    font-size: 80%;
    overflow-x: hidden;
    
    body{
        
        overflow-x: hidden;

        font-family: $Quicksand;
        font-weight: $Quicksand-Normal;

        margin : 0;
        padding: 0;
        
        @include customFontSize($font-size-Normal, $min-font-size-Normal);
    }
}

#to_the_top{
    
    display: none;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    padding: 8px;
    background-color : $color-BlueGray;
    color : $color-SmoothWhite;
    border-radius: 10px;
    opacity: 0.5;
    
    svg {
        width: 5vh;
        height: 5vh;
        max-width: 90px;
        max-height: 90px;
    }

}

//---------------
// Titles
//---------------

h1, h2, h3, h4, h5, h6{
    
    margin: 0;
    font-weight: $Quicksand-Light;
}

h1, h2{
    
    @include customFontSize($font-size-Big, $min-font-size-Big);
}

h3{
    
    @include customFontSize($font-size-Medium, $min-font-size-Medium);
}


//---------------
// Header
//---------------

header{
    
    background-image: url("../images/backgrounds/parc2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    min-height: 100vh;
    padding: $padding-Basic;
    color: $color-SmoothWhite;
    
    
    #profil_picture{
        
        text-align: center;
        
        img{
            border-radius: 50%;
            max-height: 20vh;
            min-height: 120px;
            width: auto;
            height: auto;
        }
    }
    
    #name{
        margin-top: $margin-Basic*1.5;
        max-height: 20vh;
        
        color : $color-WhiteLittleGray;
        border-bottom: 2px solid $color-WhiteLittleGray;
        border-top: 2px solid $color-WhiteLittleGray;
        text-align: center;
    }
    
    #build_msg{
        
        margin-top: $margin-Basic;
        
        animation: blink 3s linear infinite;
        opacity: 1;
        
        @include customFontSize($font-size-Normal*1.2, $min-font-size-Normal*1.2);
        text-align: center;
    }
    
    #intro_desc{
        margin-top: $margin-Basic;
        height: 30vh;
        min-height: 150px;
        
        background: $transparentColor-White;
        border-radius: 5px;
        padding: $margin-Basic/4 $margin-Basic/2 $margin-Basic/4 $margin-Basic/2;
        
        #read_chat{
            height: 80%;

        }
        
        #write_chat{
            height: 20%;
            
            #input_chat{
                
            }
            
            #send_chat{
                
                img{
                    width: 20px;
                }
            }

        }
        
    }
    
    #cv{
        text-align: center;
        margin-top: $margin-Basic * 2;
        
        a{
            transition: background-color 0.5s ease;
            transition: color 0.5s ease;

            display: inline-block;

            color: $color-WhiteLittleBlue;
            text-decoration: none;

            background-color: $color-Black;
            padding: $padding-Basic;
            border-radius: 4px;
            
            &:hover{
                color: $color-Black;
                background-color: $color-Orange;
            }
        }
    }
    
    #go_down_arrow{
        text-align: center;
        margin-top : $margin-Basic;
        
        div{
            display: inline-block;
        }
    }
    
}

//---------------
// Sections
//---------------
section{
    
    text-align: center;
    min-height: 100vh;
    padding: $padding-Basic;
    color: $color-WhiteLittleGray; 
    
    &:nth-child(even){
        background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    }
    &:nth-child(odd){
        background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
    }
}

//---------------
// Footer
//---------------

footer{
    
  background-color : $color-Black;
  color : $color-SmoothWhite;
  text-align: center;
  padding: $padding-Basic;
}